<img src="images/pb.png" class="logo animated bounceIn"/>


<select class="u-full-width animated bounceIn bot" style="margin-bottom:10px">
  <option value="">Please select your bot</option>
  <optgroup label="3d Printers">
    <option value="simple">Printrbot Simple</option>
    <option value="play">Printrbot Play</option>
    <option value="plus">Printrbot Plus</option>
  </optgroup>
  <optgroup label="CNC Machines">
    <option value="plus">Crawlbot</option>
    <option value="plus">Printrbot CNC</option>
  </optgroup>
</select>

<button class="button-primary animated fadeIn" style="width:100%">Next</button>
